doctype 5
html(lang="en")
	head
		include meta.html
		title= fileName

		script(src="/codemirror/lib/codemirror.js")
		link(rel="stylesheet", href="/codemirror/lib/codemirror.css")
		// CodeMirror syntax files
		script(src="/codemirror/mode/clike/clike.js")
		script(src="/codemirror/mode/coffeescript/coffeescript.js")
		script(src="/codemirror/mode/commonlisp/commonlisp.js")
		script(src="/codemirror/mode/css/css.js")
		script(src="/codemirror/mode/d/d.js")
		script(src="/codemirror/mode/dtd/dtd.js")
		script(src="/codemirror/mode/go/go.js")
		script(src="/codemirror/mode/groovy/groovy.js")
		script(src="/codemirror/mode/haml/haml.js")
		script(src="/codemirror/mode/haskell/haskell.js")
		script(src="/codemirror/mode/haxe/haxe.js")
		script(src="/codemirror/mode/htmlembedded/htmlembedded.js")
		script(src="/codemirror/mode/htmlmixed/htmlmixed.js")
		script(src="/codemirror/mode/fortran/fortran.js")
		script(src="/codemirror/mode/http/http.js")
		script(src="/codemirror/mode/jade/jade.js")
		script(src="/codemirror/mode/javascript/javascript.js")
		script(src="/codemirror/mode/less/less.js")
		script(src="/codemirror/mode/lua/lua.js")
		script(src="/codemirror/mode/markdown/markdown.js")
		script(src="/codemirror/mode/perl/perl.js")
		script(src="/codemirror/mode/php/php.js")
		script(src="/codemirror/mode/python/python.js")
		script(src="/codemirror/mode/ruby/ruby.js")
		script(src="/codemirror/mode/rust/rust.js")
		script(src="/codemirror/mode/sass/sass.js")
		script(src="/codemirror/mode/shell/shell.js")
		script(src="/codemirror/mode/sql/sql.js")
		script(src="/codemirror/mode/vb/vb.js")
		script(src="/codemirror/mode/vbscript/vbscript.js")
		script(src="/codemirror/mode/xml/xml.js")
		script(src="/codemirror/mode/yaml/yaml.js")
		// CodeMirror themes
		link(rel="stylesheet", href="/codemirror/theme/3024-day.css")
		link(rel="stylesheet", href="/codemirror/theme/3024-night.css")
		link(rel="stylesheet", href="/codemirror/theme/ambiance-mobile.css")
		link(rel="stylesheet", href="/codemirror/theme/ambiance.css")
		link(rel="stylesheet", href="/codemirror/theme/base16-dark.css")
		link(rel="stylesheet", href="/codemirror/theme/base16-light.css")
		link(rel="stylesheet", href="/codemirror/theme/blackboard.css")
		link(rel="stylesheet", href="/codemirror/theme/cobalt.css")
		link(rel="stylesheet", href="/codemirror/theme/eclipse.css")
		link(rel="stylesheet", href="/codemirror/theme/elegant.css")
		link(rel="stylesheet", href="/codemirror/theme/erlang-dark.css")
		link(rel="stylesheet", href="/codemirror/theme/lesser-dark.css")
		link(rel="stylesheet", href="/codemirror/theme/mbo.css")
		link(rel="stylesheet", href="/codemirror/theme/midnight.css")
		link(rel="stylesheet", href="/codemirror/theme/monokai.css")
		link(rel="stylesheet", href="/codemirror/theme/neat.css")
		link(rel="stylesheet", href="/codemirror/theme/night.css")
		link(rel="stylesheet", href="/codemirror/theme/paraiso-dark.css")
		link(rel="stylesheet", href="/codemirror/theme/paraiso-light.css")
		link(rel="stylesheet", href="/codemirror/theme/rubyblue.css")
		link(rel="stylesheet", href="/codemirror/theme/solarized.css")
		link(rel="stylesheet", href="/codemirror/theme/the-matrix.css")
		link(rel="stylesheet", href="/codemirror/theme/tomorrow-night-eighties.css")
		link(rel="stylesheet", href="/codemirror/theme/twilight.css")
		link(rel="stylesheet", href="/codemirror/theme/vibrant-ink.css")
		link(rel="stylesheet", href="/codemirror/theme/xq-dark.css")
		link(rel="stylesheet", href="/codemirror/theme/xq-light.css")
		// CodeMirror addons
		script(src="/codemirror/addon/fold/xml-fold.js")
		script(src="/codemirror/addon/selection/active-line.js")
		script(src="/codemirror/addon/edit/matchbrackets.js")
		script(src="/codemirror/addon/edit/closebrackets.js")
		script(src="/codemirror/addon/edit/matchtags.js")
		script(src="/codemirror/addon/edit/closetag.js")

		link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css", rel="stylesheet")

		include css/editor.less
		include js/editor.coffee
	body
		span#filename(style="display:none")= fileName
		span#mime(style="display:none")= mimeType

		section#sidepanel
			i#back.fa.fa-chevron-circle-left
			h1 Hello World