doctype 5
html(lang="en")
	head
		include meta.html
		title= fileName

		include codemirror-3.19/lib/codemirror.js
		include codemirror-3.19/lib/codemirror.css
		// Codemirror syntax files
		include codemirror-3.19/mode/clike/clike.js
		include codemirror-3.19/mode/coffeescript/coffeescript.js
		include codemirror-3.19/mode/commonlisp/commonlisp.js
		include codemirror-3.19/mode/css/css.js
		include codemirror-3.19/mode/d/d.js
		include codemirror-3.19/mode/dtd/dtd.js
		include codemirror-3.19/mode/go/go.js
		include codemirror-3.19/mode/groovy/groovy.js
		include codemirror-3.19/mode/haml/haml.js
		include codemirror-3.19/mode/haskell/haskell.js
		include codemirror-3.19/mode/haxe/haxe.js
		include codemirror-3.19/mode/htmlembedded/htmlembedded.js
		include codemirror-3.19/mode/htmlmixed/htmlmixed.js
		include codemirror-3.19/mode/fortran/fortran.js
		include codemirror-3.19/mode/http/http.js
		include codemirror-3.19/mode/jade/jade.js
		include codemirror-3.19/mode/javascript/javascript.js
		include codemirror-3.19/mode/less/less.js
		include codemirror-3.19/mode/lua/lua.js
		include codemirror-3.19/mode/markdown/markdown.js
		include codemirror-3.19/mode/perl/perl.js
		include codemirror-3.19/mode/php/php.js
		include codemirror-3.19/mode/python/python.js
		include codemirror-3.19/mode/ruby/ruby.js
		include codemirror-3.19/mode/rust/rust.js
		include codemirror-3.19/mode/sass/sass.js
		include codemirror-3.19/mode/shell/shell.js
		include codemirror-3.19/mode/sql/sql.js
		include codemirror-3.19/mode/vb/vb.js
		include codemirror-3.19/mode/vbscript/vbscript.js
		include codemirror-3.19/mode/xml/xml.js
		include codemirror-3.19/mode/yaml/yaml.js

		include css/editor.less
		include js/editor.coffee
	body