doctype 5
html(lang="en")
	head
		include meta.html
		title= fileName

		script(src="/codemirror/lib/codemirror.js")
		link(rel="stylesheet", href="/codemirror/lib/codemirror.css")
		// Codemirror syntax files
		script(src="/codemirror/mode/clike/clike.js")
		script(src="/codemirror/mode/coffeescript/coffeescript.js")
		script(src="/codemirror/mode/commonlisp/commonlisp.js")
		script(src="/codemirror/mode/css/css.js")
		script(src="/codemirror/mode/d/d.js")
		script(src="/codemirror/mode/dtd/dtd.js")
		script(src="/codemirror/mode/go/go.js")
		script(src="/codemirror/mode/groovy/groovy.js")
		script(src="/codemirror/mode/haml/haml.js")
		script(src="/codemirror/mode/haskell/haskell.js")
		script(src="/codemirror/mode/haxe/haxe.js")
		script(src="/codemirror/mode/htmlembedded/htmlembedded.js")
		script(src="/codemirror/mode/htmlmixed/htmlmixed.js")
		script(src="/codemirror/mode/fortran/fortran.js")
		script(src="/codemirror/mode/http/http.js")
		script(src="/codemirror/mode/jade/jade.js")
		script(src="/codemirror/mode/javascript/javascript.js")
		script(src="/codemirror/mode/less/less.js")
		script(src="/codemirror/mode/lua/lua.js")
		script(src="/codemirror/mode/markdown/markdown.js")
		script(src="/codemirror/mode/perl/perl.js")
		script(src="/codemirror/mode/php/php.js")
		script(src="/codemirror/mode/python/python.js")
		script(src="/codemirror/mode/ruby/ruby.js")
		script(src="/codemirror/mode/rust/rust.js")
		script(src="/codemirror/mode/sass/sass.js")
		script(src="/codemirror/mode/shell/shell.js")
		script(src="/codemirror/mode/sql/sql.js")
		script(src="/codemirror/mode/vb/vb.js")
		script(src="/codemirror/mode/vbscript/vbscript.js")
		script(src="/codemirror/mode/xml/xml.js")
		script(src="/codemirror/mode/yaml/yaml.js")

		include css/editor.less
		include js/editor.coffee
	body