body {
	margin: 0;
}
.CodeMirror {
	font-size: 12px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;

	-webkit-transition: left 0.3s ease-in-out;
	-moz-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}
.cm-tab:before {
	content: none !important;
	color: inherit !important;
}
.showtabs.cm-tab:before {
	content: "➤" !important;
	color: #586e75 !important;
}